nav{
	float: left;
	width: 15%;
	height: 500px;
	border: 1px solid #000000;
	padding-left: 2%
}

.main{
	/*float: right;*/
	margin-left: 22%;
	margin-right: 10%; 
	height: 500px;
}

.product{
	border: 1px solid #000000;
	float: left;
	margin-top: 4%;
	margin-right:8%;
	padding-bottom: 4%;
	padding-right: 3%;
	padding-left:2%;
}
/*.box{
	border: 1px solid #000000;
}

.placeholder{
	bor*/der: 1px solid #000000;
}
/*.nav-container{
	border: 3px solid #000000;
	max-width: 200px;
}*/

/*#main{
	max-width:60%;
	margin: 0 auto;
	position: relative;*/